@import "../../../index";

.modal__closed-day {
  min-height: inherit;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modal__calendar-item_topic {
  text-align: center;
  text-transform: uppercase;
}

.modal__calendar-item_description {
  font-size: 16px;
  color: darken($dark_white, 10%);
}