$dark_white: darken(white, 10%);
$color_lad: #004BFF;
$medium_width: 1075px;
$small_width: 800px;
$mobile_size: 500px;
$old_mobile_size: 359px;
$less_than_old_mobile_size: 299px;
$color_error: lighten(red, 15%);


* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Inter-Regular";
  src: url(./assets/fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
  font-family: "Inter-Light";
  src: url(./assets/fonts/Inter/static/Inter-Light.ttf);
}

body {
  background-image: url('../src/assets/images/backgroundNY5.jpg');
  font-family: 'Inter-Regular';
  color: $dark_white;
  font-size: 18px;
  line-height: 1.5;
}

p {
  margin-bottom: 18px;
  color: $dark_white;
}

.select__wrapper {
  width: 50%;
  margin: 0 auto 80px auto;
  transition: .3s;

  @media (max-width: $small_width) {
    width: 70%;
  }

  @media (max-width: $mobile_size) {
    width: 100%;
  }
}

.select {
  width: 100%;
}

//  перебивка antD
.ant-select {
  color: $dark_white;
}

.ant-select-selector {
  background: url('./assets/images/backgroundNY5.jpg');
  border-color: $color_lad !important;
  font-family: 'Inter-Regular';
  &:hover {
    border-color: $color_lad !important;
  }
}

// конец antD

.error_mes {
  height: 20.91px;
  color: $color_error;
  font-size: 14px;
  margin: 10px 0;
}
